.avatar{
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.avatar .avatar__img{
    width: 250px;
    height: 250px;
    border: 5px solid black;
    padding: 5px;
    border-radius: 50%;
}

